<nav class="breadcrumbs" aria-label="Хлебные крошки">
    <div class="container">
        <ol class="breadcrumbs__list" itemscope itemtype="https://schema.org/BreadcrumbList">
            <li class="breadcrumbs__item" itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
                <a href="/" class="breadcrumbs__link" itemprop="item">
                    <span itemprop="name">Главная</span>
                </a>
                <meta itemprop="position" content="1">
            </li>
            <li class="breadcrumbs__item" itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
                <a href="/catalog" class="breadcrumbs__link" itemprop="item">
                    <span itemprop="name">Каталог</span>
                </a>
                <meta itemprop="position" content="2">
            </li>
            <li class="breadcrumbs__item" itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
                <a href="/catalog/portable" class="breadcrumbs__link" itemprop="item">
                    <span itemprop="name">Портативные приборы</span>
                </a>
                <meta itemprop="position" content="3">
            </li>
            <li class="breadcrumbs__item breadcrumbs__item--current" itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
                <span class="breadcrumbs__current" itemprop="item">
                    <span itemprop="name">Fluke 62 MAX</span>
                </span>
                <meta itemprop="position" content="4">
            </li>
        </ol>
    </div>
</nav>